.sct-banner {
    width: 100%;
    height: 66.7vh;
    position: relative;
    z-index: -10;

    .img-banner {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .content-title-banner {
        position: absolute;
        bottom: 7.3%;
        margin: auto;
        left: 0;
        right: 0;
        z-index: 1;
        
        .titleBanner {
            color: $color-white;
            font-family: $font-bold-internas;
            font-size: 3.3em;
            margin: 0;
        }
    }
}

.degrade-int{
    background: url('../../assets/images/sombra.png') top left repeat-x;
    background-size: 100% 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

@media (min-width:1199px) and (max-width:1600px) {
    .sct-banner {
        height: 30em;
    }
}
// .banner-parallax {
//     box-sizing: border-box;
//     min-height: 40vw;
//     padding: 30vw 0 5vw;
//     position: relative;
//     -webkit-transform-style: inherit;
//     transform-style: inherit;
//     width: 100vw;
//   }
//   .banner-parallax, .banner-parallax:before {
//     background: 50% 50% / cover;
//   }
//   .banner-parallax::before {
//     bottom: 0;
//     content: "";
//     left: 0;
//     position: absolute;
//     right: 0;
//     top: 0;
//       display: block;
//       background-color: #8a8;
//     //background-image: url(http://ksk-soft.com/css_labo/dimg/orengeFlower.jpg);
//     background-size: cover;
//     -webkit-transform-origin: center center 0;
//     -webkit-transform: translateZ(-1px) scale(2);
//     transform-origin: center center 0;
//     transform: translateZ(-1px) scale(2);
//     z-index: -1;
//     min-height: 100vh;
//   }
//   .banner-parallax * {
//     font-weight: normal;
//     letter-spacing: 0.2em;
//     text-align: center;
//     margin: 0;
//       padding: 1em 0;
//   }
