.wrapper-img-centers {

    .imgMap-centers {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        -webkit-transition: all .6s;
            transition:all .6s;

        .img-map {
            width: 10em;
            margin-bottom: 2em;
            -webkit-transition: all .7s;
            transition:all .7s;
        }
        
        .btn-centers {
            font-size: .68em;
            padding: .7em 3em;
            border-radius: 5px;
            border: none;
            transition: opacity .3s;
            background-color: $color-secondary;
        }
        
    }

    .grid-centers {
        position: relative;
        clear: both;
        list-style: none;
        width: 100%;
        height: 100vh;
    
        figure {
            position: relative;
            float: left;
            overflow: hidden;
            width: 100%;
            height: 100%;
    
            .img-bg-centers {
                position: relative;
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
    
            figcaption {
                padding: 2em;
                color: #fff;
                text-transform: uppercase;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
            }
    
            .title-text {
                position: relative;
                padding: 0.2em 0;
                font-size: 1.49em;
                margin: 0;
                text-align: center;
    
                // &:before,
                // &:after {
                //     position: absolute;
                //     top: 2px;
                //     font-family: 'icomoon' !important;
                //     speak: none;
                //     font-style: normal;
                //     font-weight: normal;
                //     font-variant: normal;
                //     text-transform: none;
                //     line-height: 1;
                // }
    
                // &:before {
                //     content: "\e907";
                //     left: 0;
                // }
    
                // &:after {
                //     content: "\e908";
                //     right: 0;
                // }
            }
            &.effect-julia{
                background-color: $color-secondary;
                .bg-black{
                    background-color: rgba(0, 0, 0, .4);
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    transition: background .2s;
                }
                .img-bg-centers {
                    -webkit-transition: opacity 1s, -webkit-transform 1s;
                    transition: opacity 1s, transform 1s;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                }
                .list-centers {
                    position: absolute;
                    top: 41%;
                    left: 0;

                    .link-list {
                        display: inline-block;
                        width: 100%;
                        color: $color-white;
                        font-size: .65em;
                        transition: opacity 0.35s, transform 0.35s;
                        transform: translate3d(-100%, 0, 0);
                        font-family: $font-internas;
                        font-weight: bold;
                    }
                }
                
                &:hover {
                    text-align: center;
                    .bg-black{
                        opacity: 0;
                    }
                    .link-list {
                        opacity: 1;
                        transform: translate3d(0, 0, 0);

                        @for $i from 1 through 18{
                            &:nth-child(#{$i}){
                                transition-delay:(300ms * $i) - 80ms;
                            }
                        }
                    }
    
                    .img-bg-centers {
                        opacity: 0.2;
                        -webkit-transform: scale3d(1.1, 1.1, 1);
                        transform: scale3d(1.1, 1.1, 1);
                    }
                    
                    .img-map {
                        width: 4em;
                    }
                    .imgMap-centers {
                        height: 50%;
                    }   
                    .btn-centers {
                        opacity: 0;
                    }
                }
            }
        }
    }
}
