.hg-100 {
    height: 100%;
}
.pd-x-0 {
    padding-left: 0;
    padding-right: 0;
}
.pl-0{
    padding-left: 0;
}
.pl-1{
    padding-left: 1em;
}
.pr-1{
    padding-right: 1em;
}
.pr-3 {
    padding-right: 3em;
}
.pr-4{
    padding-right: 4em;
}
.padd-0{
    padding: 0;
}
.row {
    width: 100%;
    margin: auto;
}
.mb-0 {
    margin-bottom: 0 !important;
}
/*POSITION*/
.pos-rel {
    position: relative;
}
.pos-fix {
    position: fixed;
}
/*
DISPLAY
*/
.d-inBlock {
    display: inline-block;
}
.disp-block {
    display: block;
}
/*
FLOAT
*/
.float-left {
    float: left;
}
.float-right {
    float: right;
}
/*
flex
*/
.flex {
    display: flex;
    align-items: center;
}
.flex-wrap {
    flex-wrap: wrap;
}
.d-flex {
    display: flex;
}
.justContentCenter {
    justify-content: center;
}
.jContentB {
    justify-content: space-between;
}
.jContentFend {
    justify-content: flex-end;
}
.flex-column {
    flex-direction: column;
}
/*
typografia
*/
.p-internas {
    font-family: $font-internas;
}
.p-internas-bold {
    font-family: $font-bold-internas;
    font-weight: bold;
}
.internas-bold {
    font-family: $font-bold-internas;
}
.titles-big {
    font-family: $font-titles;
}
.text-internas {
    font-family: $font-internas;
    font-size: 0.947em;
    line-height: 1.3;
    //margin-bottom: 2em;
    color: $color-int2;
}
.font-semi-bold{
    font-family: $font-semiBold;
}

/*************
    COLORS
*************/
.color-primary {
    color: $color-primary !important;
}
.color-secondary {
    color: $color-secondary;
}
/*btns*/
.btn {
    border: none;
    outline: none;
}

.fp-tableCell {
    height: 100%!important;
}
.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell{
    height: auto !important;
}
/*
LINE HEIGHT
*/
.lineH1 {
    line-height: 1;
}
.lineH1-5 {
    line-height: 1.5;
}
.lineH2 {
    line-height: 2;
}
/*BG*/
.bgInternas {
    background-color: $bg-internasGray;
}
.bg-white {
    background-color: $color-white;
    overflow: hidden;
}
/*IMG*/
.img-cover{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.numbsl{
    position: absolute;
    bottom: 2em;
    left: -1em;
}
.pt4em{
    padding-top: 4em;
}
.passer.t-5{
    top: -0.5em;
}
.mt4{
    margin-top: 4em;
}
.ics{
    padding-bottom: 1em;
}
.ics span{
    font-size: 3em;
}
.ics span::before{
    color: #00a0de;
}
.sertit{
    font-size: 1.8em;
    color: #003989;
    font-weight: bold;
    position: relative;
    margin-bottom: 2em;
    line-height: 1.3;
    font-family: "poppinsbold";
}
.sertit::after {
    content: "";
    position: absolute;
    border-bottom: 6px solid #c60c30;
    width: 2em;
    bottom: -13px;
    left: 0;
}
.citli{
    background-image: url(/assets/images/bg-citas.jpg);
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2em 2em;
    margin-bottom: 2.5em;
}
.citli .content-quotes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.citli .icon-citas {
    font-size: 3em;
    padding-bottom: .5em;
}
.citli .form {
    width: 100%;
    padding: 0 15px;
}
.citli .form .form__wrapper {
    background-color: #fff;
    width: 100%;
}
.citli .form .form__input {
    height: 2.5em;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 94%, #003989 4%);
    background-position: -800px 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.citli .content-quotes .rg-Cntr.reg {
    margin: 2em 0 0.5em;
}
.citli .content-quotes .rg-Cntr {
    color: #fff;
    transition: all 0.3s;
}
.citli .titlesBig{
    font-size: 1.8em;
    padding-bottom: .3em;
}
.citli .revcit{
    padding-bottom: 1em;
    line-height: 1.5;
}
.form__wrapper.mb1-5{
    margin-bottom: 1.5em;
}
.pb1{
    padding-bottom: 1em;
}
.blanco{
    color:#fff
}
.card-staff figcaption{
    background: #f6f6f6;
}
figure.wrapper-news .link-cardGrid.lkcg{
    background-color: #00a0de;
}
.footer-container-calendar{
    display: none;
}

.container-calendar {
    background: #ffffff;
    padding: 15px;
    max-width: 475px;
    margin: 0 auto;
    overflow: auto;
    position: relative;
}

.button-container-calendar button {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: transparent;
    color: #2e3d82;
    border: none;
    padding: 5px 10px;
    font-family: "poppinsregular";
    font-size: 2em;
}

.table-calendar {
    border-collapse: collapse;
    width: 100%;
}
.table-calendar th{
    color:#fff;
    background: #2e3d82;
}
.table-calendar td, .table-calendar th {
    padding: 10px;
    text-align: center;
    vertical-align: top;
    font-family: "poppinsregular";
}

.date-picker.selected {
    font-weight: bold;
    color: #fff;
    background: #c60c30;
}

#monthAndYear {
    text-align: center;
    margin-top: 0;
    font-family: "poppinsbold";
    font-weight: bold;
    position: absolute;
    width: 100%;
    left: 0;
    top: 1em;
}

.button-container-calendar {
    position: relative;
    margin-bottom: .5em;
    overflow: hidden;
    clear: both;
}

#previous {
    float: left;
}

#next {
    float: right;
}

.footer-container-calendar {
    margin-top: 1em;
    border-top: 1px solid #dadada;
    padding: 10px 0;
}
.espec .specialty {
    font-size: 0.9em;
    color: #000;
    font-family: "poppinssemibold";
    float: left;
}
.espec .spanSpecialty {
    float: left;
    padding-left: 1.5em;
    font-size: 0.9em;
    color: #000;
    font-family: "poppinsregular";
}
.drme{
    color: #003989;
    font-family: "poppinsbold";
    font-size: 1.5em;
    text-transform: uppercase;
    position: relative;
    padding-left: 2.5em;
    line-height: 1;
    margin: 1em 0;
}
.drme span{
    font-size: .6em;
}
.hg-100 {
    height: 100%;
}
.pd-x-0 {
    padding-left: 0;
    padding-right: 0;
}
.row {
    width: 100%;
    margin: auto;
}
.mb-0 {
    margin-bottom: 0;
}
/*POSITION*/
.pos-rel {
    position: relative;
}
.pos-fix {
    position: fixed;
}
/*
DISPLAY
*/
.d-inBlock {
    display: inline-block;
}
/*
FLOAT
*/
.float-left {
    float: left;
}
.float-right {
    float: right;
}
/*
flex
*/
.flex {
    display: flex;
    align-items: center;
}
.flex-wrap {
    flex-wrap: wrap;
}
.d-flex {
    display: flex;
}
.justContentCenter {
    justify-content: center;
}
.jContentB {
    justify-content: space-between;
}
.jContentFend {
    justify-content: flex-end;
}
.flex-column {
    flex-direction: column;
}
/*
typografia
*/
.p-internas {
    font-family: $font-internas;
}
.p-internasBold {
    font-family: $font-bold-internas;
    font-weight: bold;
}
.internasBold {
    font-family: $font-bold-internas;
}
.titlesBig {
    font-family: $font-titles;
}
.text-internas {
    font-family: $font-internas;
    font-size: .75em;
    line-height: 1.5;
    margin-bottom: 2em;
}

/*colors*/
.colorPrimary {
    color: $color-primary;
}
/*btns*/
.btn {
    border: none;
    outline: none;
}