@font-face {
    font-family: 'poppinsextrabold';
    src: url('../fonts/poppins-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinslight';
    src: url('../fonts/poppins-light-webfont.woff2') format('woff2'),
         url('../fonts/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinssemibold';
    src: url('../fonts/poppins-semibold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'poppinsbold';
  src: url('../fonts/poppins-bold-webfont.woff2') format('woff2'),
       url('../fonts/poppins-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
/*************
    ICONS
**************/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?lu4dk6');
  src:  url('../fonts/icomoon/icomoon.eot?lu4dk6#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?lu4dk6') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?lu4dk6') format('woff'),
    url('../fonts/icomoon/icomoon.svg?lu4dk6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youtube-single:before {
  content: "\e900";
}
.icon-facebook-single:before {
  content: "\e901";
}
.icon-instagram-single:before {
  content: "\e902";
}
.icon-linkedin-single:before {
  content: "\e903";
}
.icon-twitter-single:before {
  content: "\e904";
}
.icon-estetoscopio:before {
  content: "\e905";
}
.icon-arrow-home-right:before {
  content: "\e906";
}
.icon-arrow-home-left:before {
  content: "\e907";
}
.icon-adjuntar:before {
  content: "\e908";
}
.icon-compromiso:before {
  content: "\e909";
}
.icon-lider:before {
  content: "\e90a";
}
.icon-directorio:before {
  content: "\e90b";
}
.icon-esc-hospitalidad:before {
  content: "\e90c";
}
.icon-etica:before {
  content: "\e90d";
}
.icon-hospitalidad:before {
  content: "\e90e";
}
.icon-identificacion:before {
  content: "\e90f";
}
.icon-noviciado:before {
  content: "\e910";
}
.icon-pastoral:before {
  content: "\e911";
}
.icon-postulantado:before {
  content: "\e912";
}
.icon-face:before {
  content: "\e913";
}
.icon-phone-bg:before {
  content: "\e914";
}
.icon-instagram:before {
  content: "\e915";
}
.icon-phone:before {
  content: "\e916";
}
.icon-sobre:before {
  content: "\e917";
}
.icon-ubication:before {
  content: "\e918";
}
.icon-hojasLeft:before {
  content: "\e919";
}
.icon-hojasRight:before {
  content: "\e91a";
}
.icon-twitter:before {
  content: "\e91b";
}
.icon-youtube:before {
  content: "\e91c";
}
.icon-estr-org:before {
  content: "\e91d";
}
.icon-fundador:before {
  content: "\e91e";
}
.icon-hist-oh:before {
  content: "\e91f";
}
.icon-princ-valores:before {
  content: "\e920";
}
.icon-mis-vis:before {
  content: "\e921";
}
.icon-escolasticado:before {
  content: "\e922";
}
.icon-proactivo:before {
  content: "\e923";
}
.icon-ico:before {
  content: "\e924";
}
.icon-san:before {
  content: "\e925";
}
.icon-solidario:before {
  content: "\e926";
}
.icon-hazte-bienhechor:before {
  content: "\e927";
}
.icon-hazte-hermano:before {
  content: "\e928";
}
.icon-hazte-voluntario:before {
  content: "\e929";
}
.icon-equitativo:before {
  content: "\e92a";
}
.icon-open-hamb:before {
  content: "\e92b";
}
.icon-aspirantado:before {
  content: "\e92c";
}
.icon-conocimiento:before {
  content: "\e92d";
}
.icon-close-hamb:before {
  content: "\e92e";
}
.icon-arrow-left:before {
  content: "\e92f";
}
.icon-arrow-right:before {
  content: "\e930";
}
.icon-linkedin:before {
  content: "\e931";
}
.icon-red-salud:before {
  content: "\e932";
}
.icon-icono-regresar:before {
  content: "\e933";
}
.icon-s4:before {
  content: "\e934";
}
.icon-s5:before {
  content: "\e935";
}
.icon-s6:before {
  content: "\e936";
}
.icon-s2:before {
  content: "\e937";
}
.icon-s3:before {
  content: "\e938";
}
.icon-s1:before {
  content: "\e939";
}
.icon-app:before {
  content: "\e93a";
}
.icon-medico:before {
  content: "\e93b";
}
.icon-triangle-down:before {
  content: "\e93c";
}
.icon-lupa:before {
  content: "\e93d";
}
.icon-citas:before {
  content: "\e93e";
}
.icon-world-hands:before {
  content: "\e93f";
}
.icon-guia-hospitalizacion:before {
  content: "\e940";
}
.icon-seguridad-paciente:before {
  content: "\e941";
}
.icon-tips-salud:before {
  content: "\e942";
}
.icon-convenios:before {
  content: "\e943";
}
.icon-deberes-derechos:before {
  content: "\e944";
}
.icon-gestion-paus:before {
  content: "\e945";
}
.icon-clock:before {
  content: "\e946";
}
.icon-cup-bread:before {
  content: "\e947";
}
.icon-box-heart:before {
  content: "\e948";
}
.icon-world-persons:before {
  content: "\e949";
}
.icon-dimension-liturgica:before {
  content: "\e94a";
}
.icon-dimension-profetica:before {
  content: "\e94b";
}
.icon-dimension-caritativa:before {
  content: "\e94c";
}
.icon-dimension-hospitalaria:before {
  content: "\e94d";
}
.icon-document:before {
  content: "\e94e";
}
