/**************
    COLORS
**************/
$color-primary: #003989;
$color-secondary: #00a0de;
$color-peru: #c60c30;
$color-white: #fff;
$color-gray: #f2f4f7;
$color-black: #000;
// $color-graySecondary: #808080;
$color-lightBlack : #919194;
$color-lightBlue: #65b1ef;
$bg-internasGray: #f2f4f7;
$color-ecuador: #f5b73e;
$color-venezuela: #851d42;

$color-int1: #bfbebe;
$color-int2: #909090;
/**************
    BOTONES
**************/
$btn-primary: #c60c30;
$bgOpacity-btn: rgba(0, 57 ,137 , .5);
/****************
    TYPOGRAFIA
*****************/
$font-titles: 'poppinsextrabold';
$font-bold-internas: 'poppinsbold';
$font-semiBold: 'poppinssemibold';
$font-internas: 'poppinsregular';

$titlesBig-internas: 'poppinsbold';
$subtitlesLight-internas: 'poppinssemibold';