/* Horarios */
.gdh-horarios .row {margin: 0 0 1em;}
.gdh-horarios .title-horarios {display: flex;}
.gdh-horarios .title-horarios .title-horarios_text {margin-left: 8px;}
.gdh-horarios .espec .specialty {color: rgba(6, 6, 6, 0.8);}
.gdh-horarios .p-internas.spanSpecialty {color: rgba(6, 6, 6, 0.7);}
.gdh-horarios button {margin-top: 1em;}

.gdh-horarios .info-horarios {padding: 2em 2em 3em 4em;}
.gdh-horarios .info-horarios .text-internas {font-size: 1em;}