.info-form {
    .p-internas {
        font-size: .85em;
    }
    .descriptionForm {
        margin-top: 1.3em;
    }
    .contentIconForm {
        width: 1.5em;
        text-align: center;
        /*margin-top: 4px;*/

        .icon-form {
            color: $color-primary;
            font-size: .85em;
        }
    }
}
.iconBigForm {
    float: left;
    width: 3.9em;
    margin-right: 1em;
}
.titleForm {
    font-size: 2em;
}

.sct-participate {
    position: relative;
    padding: 2.2em 0;

    .icon-container {
        .icon-participate {
            width: 5em;
            margin-right: 1.1em;

            &.two,
            &.three {
                width: 6em;
            }
        }
    }

    .titles-participate {
        .internasBold {
            font-size: 1em;
            margin-top: 0;
        }

        >.p-internas {
            font-size: .725em;
            opacity: .8;
        }

        .content-btn-participate {

            //margin-top: 1em;
            .btn-participate {
                color: $color-white;
                font-size: 0.845em;
                float: left;
                //width: 100%;
                height: 100%;
                position: relative;
                padding: 0.9em 4em;
                border-radius: 4px;
                background-color: $color-secondary;
            }
        }
    }
}
.anclaLink {
    display: block;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
}
.arrow-ancla {
    position: absolute;
    left: 50%;
    bottom: 2%;
    transform: translate(-50%, -50%);
    
    z-index: 10;
    width: 38px;
}

.sct-counting {
    background-image: url('/assets/images/bg-counting.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 15.5em;
    position: relative;
    color: $color-white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .img-icon {
        width: 3em;
        height: 3em;
        margin: 0 auto .5em;

        .icon-counting {
            width: 100%;
            height: 100%;
        }
    }

    .num {
        font-size: 2.5em;
    }

    .p-internas {
        font-size: .9em;
    }
}

/*
SECCION CITAS
*/
.sct-filter-quotes {
    background-color: $color-gray;
    padding-top: 120px;
    overflow: hidden;
    .containerPdd {
        padding: 0 4em;
        >.titlesBig {
            font-size: 1.5em;
        }
    }
    //margin-bottom: 1em;
    .wrapper-download-quotes {
        >.row {
            display: flex;
        }
    }
    .wrapper-app,
    .wrapper-quotes {
        background-repeat: no-repeat;
        background-size: cover;
        padding: 2em 2em;
        margin-bottom: 2.5em;

        .titlesBig {
            margin: .8em 0 .7em;
        }
        .content-app,.content-quotes {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .wrapper-quotes {
        background-image: url('/assets/images/bg-citas.jpg');
        color: $color-white;

        .content-quotes {

            .icon-citas {
                font-size: 2em;
            }

            .p-internas {
                font-size: 0.8em;
                text-align: center;
                margin-bottom: 1.3em;
                line-height: 1.5;
            
            }

            .form {
                width: 55.5%;

                .form__wrapper {
                    background-color: $color-white;
                    width: 100%;
                }

                .form__input {
                    height: 2.5em;
                    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 94%, $color-primary 4%);
                    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 94%, $color-primary 4%);
                    background-position: -800px 0;
                    background-size: 100% 100%;
                    background-repeat: no-repeat;

                    &:focus {
                        background-position: 0 0;
                    }
                }

                .form__label-content {
                    position: relative;
                }
            }

            .rg-Cntr {
                color: $color-white;
                transition: all .3s;
                &.reg {
                    margin: 1.2em 0 .5em;
                }
                &.cambCont {
                    font-size: .7em;
                }
                &:hover {
                    color: #00a0de;
                }
            }
        }

    }

    .wrapper-app {
        background-image: url('/assets/images/bg-app.jpg');
        position: relative;
        justify-content: flex-end;

        .content-app {

            .icon-app {
                color: $color-secondary;
                font-size: 4em;
            }

            .list-stepsApp {
                margin-bottom: 2em;
                .item-stepsApp {
                    line-height: 1.5;
                    list-style: inside;    color: #c60c30;
                    .span-stepsApp {
                        position: relative;
                        font-size: .9em;
                        color:#000;
                        &:before {
                            content: "";
                            position: absolute;
                            left: -16px;
                            font-family: 'icomoon' !important;
                            color: $color-peru;
                            font-size: 8px;
                            top: 4px;
                        }
                    }
                    
                }
            }

            .img-downloadApp {
                margin-bottom: 1em;
            }
        }
    }

    .content-imgMovil {
                
        img {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            bottom: 0;
        }
    }
}
.sct-specialties {
    padding-top: 8em;
}
.sct-news {
    padding-top: 9em;
    >.container {
        width: 91%;
    }
}

.sct-form {
    position: relative;
    background: white;
    //padding: 14em 0 5em;

    >img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        object-fit: cover;
        opacity: .2;
    }
}
.btn-inSesion {
    background-color: $btn-primary;
    font-family: $font-bold-internas;
    width: 11em;
    padding: 0.8em 0;
    border-radius: 4px;
    font-size: 16px;
    margin-top: .5em;
}
#section1 .sec2{
    background: url(../../assets/images/sec2.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
}
.w-100{width: 100%;}
.sct-filter-quotes#section1  .wrapper-quotes .content-quotes .form{
    width: 100%;
    padding: 0 15px;
}
.form__wrapper.mb0-5{
    margin-bottom: 0.5em;
}
.sct-filter-quotes .wrapper-quotes .content-quotes .p-internas.small{
    font-size: small;
}
.sinb{
    margin-bottom: 0!important;
}
.mayus{
    text-transform: uppercase;
}
.btn-bus{
    background-color: #c60c30;
    font-family: "poppinsbold";
    width: 100%;
    padding: 0.5em 0;
    border-radius: 4px;
    font-size: 23px;
    color: #fff;
    margin-top: -1px;
}
.btn-bus2 {
    background-color: #c60c30;
    font-family: "poppinsbold";
    padding: 0.5em 2em;
    border-radius: 4px;
    font-size: 23px;
    color: #fff;
    margin-top: -1px;
}
#section2{
    background: #f2f4f7;
}
.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
    padding-top: 10px;
    text-align: right;
    .tab-link {
        background: none;
        display: inline-block;
        padding: 10px 8px;
        width: 1.7em;
        cursor: pointer;
        font-size: 1rem;
        position: relative;
        margin-right: -5px;
        border: 1px solid;
        border-color: transparent;
        z-index: 1;
        opacity: 0.5;
        transition: 0.5s;
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 0%;
            background-color: $color-primary;
            transition: .3s;
            left: 0;
            top: 0;
            z-index: -1;

        }
    }        
}
.tabs .tab-link.current{
    opacity: 1;
    color: #003989;
    font-family: "poppinsextrabold";
    border-bottom: 3px solid;    
}
.tabs .tab-link:hover{
    opacity: 1;
    color: #003989;
    font-family: "poppinsextrabold";
    border-bottom: 3px solid; 
}
.tab-content,
.tab-contents{
-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
}       
.tab-content.current,
.tab-contents.current{
    display: inherit;
}
.rojo{color:#c60c30}
.sinmargin{margin: 0;}
.pl6em{padding-left: 8em;    padding-top: 1em;
    padding-bottom: 1em;
}
.ico-pos {
    position: relative;
    text-align:center;

    & span {
        font-size: 2em;
        line-height: 2.6em;
    }
}
.icc-pos{
    position: absolute;
    width: 5em;
}
.ico-pos span:before{ color: #00a0de;}
.fs17{font-size: 17px;}
.borbg{    border-bottom: 2px solid #cfd0d3;position: relative;    cursor: pointer;}
.circle {
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 50%;
    background: #dfdcdc;
    cursor: pointer;
    z-index: 0;
}
.beforec,
.afterc {
    content: '';
    position: absolute;
    width: 36px;
    height: 2px;
    background-color: white;
    border-radius: 0;
    top: 24px;
    -webkit-transition: 150ms ease-out;
    -moz-transition: 150ms ease-out;
    -o-transition: 150ms ease-out;
    transition: 150ms ease-out;
    z-index: 0;
}
.beforec {
    left: 7px;
}
.afterc {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
    right: 7px;
}
.circle:hover {
}
.row.borbg:hover .beforec {
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    transform: rotate(225deg);
    -webkit-transition: 300ms ease-in-out all;
    -moz-transition: 300ms ease-in-out all;
    -o-transition: 300ms ease-in-out all;
    transition: 300ms ease-in-out all;

}
.row.borbg:hover .afterc {
    -ms-transform: rotate(-225deg);
    -webkit-transform: rotate(-225deg);
    -moz-transform: rotate(-225deg);
    transform: rotate(-225deg);
    -webkit-transition: 250ms ease-in all;
    -moz-transition: 250ms ease-in all;
    -o-transition: 250ms ease-in all;
    transition: 250ms ease-in all;
}
.circdiv{
    position: absolute;
    right: 0;
    top: 25px;
    bottom: 0;
    margin: auto;
}
.disin{display: inline;}
.distab{display: table;}
.icon-socialf{
    background-color: #ffffff;
    color: #00a0de;
    border-radius: 50%;
    padding: 7px;
    font-size: 1em;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    z-index: 10;
    transition: background 0.5s;
}
.icon-socialf:hover {
    background-color: #003989;
}
.mlr5px{
    margin-left: 5px;
    margin-right: 5px;
}
.op5s{opacity: .5;transition: .5s;}
.borbg:hover .op5s{opacity: 1;}
.tab-content.servicios{
    position: absolute;
    top: 0;
    right: 0;
    padding:0;
}
.tab-content.current{position: relative;}
.bazul{background-color: #003989;}
.blanco{color:#fff}
.posb p{
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    text-align: justify;
    margin-bottom: 0;
}
p{font-size: 15px;}
.numbser{
    display: inline;
    font-family: "poppinsregular";
    font-weight: bold;
    color: #003989;
    padding: 0 .8em;
}
.numbser span{
    font-size: 22px;
    opacity: .5;
}
.discir{
    display: inline-block;
    width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: transparent;
    border: 3px solid rgba(0, 57, 137, 0.5);
    transition: .5s;
}
.flecnumb{
    font-family: "poppinsregular";
    color: #003989;
    text-align: center;
}
.discir:hover{
    border: 3px solid rgba(0, 57, 137, 1);
}
.pt1{
    padding-top: 1em;
}
.posrel{
    position: relative;
}
.passer{
    display: inline-block;
    position: absolute;
    top: 0.5em;
}
.plm{
    font-size: 3em;
    position: absolute;
    top: 0.4em;
    color: #00a0de;
}



//////
.sct-participate {
    position: relative;
    padding: 2.2em 0;

    .icon-container {
        margin-right: 1em;
        .icon-prtcp{
            font-size: 5em;
            color: $color-peru;
        }
    }
    .titles-participate {
        .internas-bold {
            font-size: 1em;
            margin-top: 0;
        }
        >.p-internas {
            font-size: .75em;
            opacity: .8;
        }
        .content-btn-participate {
            //margin-top: 1em;
            .btn-participate {
                color: $color-white;
                font-size: 0.845em;
                float: left;
               //width: 100%;
                height: 100%;
                position: relative;
                padding: 0.9em 4em;
                border-radius: 4px;
                background-color: $color-secondary;
            }
        }
    }
}

.sct-centers {
    .wrapper-img-centers {
        width: 25%;
        float: left;
    }
}
.div-info-centers {
    text-align: center;
}

/*****************
SECCION CITAS
****************
.sct-filter-quotes {
    background-color: $color-gray;
    padding-top: 136px;
    overflow: hidden;
    .containerPdd {
        padding: 0 4em;
        >.titlesBig {
            font-size: 1.5em;
        }
    }
    //margin-bottom: 1em;
    .wrapper-download-quotes {
        >.row {
            display: flex;
        }
    }
    .wrapper-app,
    .wrapper-quotes {
        background-repeat: no-repeat;
        background-size: cover;
        padding: 2em 2em;
        margin-bottom: 2.5em;

        .titlesBig {
            margin: .8em 0 .7em;
        }
        .content-app,.content-quotes {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .wrapper-quotes {
        background-image: url('/assets/images/bg-citas.jpg');
        color: $color-white;

        .content-quotes {

            .icon-citas {
                font-size: 2em;
            }

            .p-internas {
                font-size: 0.8em;
                text-align: center;
                margin-bottom: 1.3em;
                line-height: 1.5;
            
            }

            .form {
                width: 55.5%;

                .form__wrapper {
                    background-color: $color-white;
                    width: 100%;
                }

                .form__input {
                    height: 2.5em;
                    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 94%, $color-primary 4%);
                    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 94%, $color-primary 4%);
                    background-position: -800px 0;
                    background-size: 100% 100%;
                    background-repeat: no-repeat;

                    &:focus {
                        background-position: 0 0;
                    }
                }

                .form__label-content {
                    position: relative;
                }
            }

            .rg-Cntr {
                color: $color-white;
                transition: all .3s;
                &.reg {
                    margin: 1.2em 0 .5em;
                }
                &.cambCont {
                    font-size: .7em;
                }
                &:hover {
                    color: #00a0de;
                }
            }
        }

    }

    .wrapper-app {
        background-image: url('/assets/images/bg-app.jpg');
        position: relative;
        justify-content: flex-end;

        .content-app {

            .icon-app {
                color: $color-secondary;
                font-size: 4em;
            }

            .list-stepsApp {
                margin-bottom: 2em;
                .item-stepsApp {
                    line-height: 1.5;
                    list-style: inside;    color: #c60c30;
                    .span-stepsApp {
                        position: relative;
                        font-size: .9em;
                        color:#000;
                        &:before {
                            content: "";
                            position: absolute;
                            left: -16px;
                            font-family: 'icomoon' !important;
                            color: $color-peru;
                            font-size: 8px;
                            top: 4px;
                        }
                    }
                    
                }
            }

            .img-downloadApp {
                margin-bottom: 1em;
            }
        }
    }

    .content-imgMovil {
                
        img {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            bottom: 0;
        }
    }
}
*/
/*****************
SECCION NOVEDADES
*****************/
.sct-news {
    padding-top: 8em;

    .container {width: 91%;}
    .ttl-news{
        margin: 1em 0;
    }

    .carrousel-news {
        .owl-nav {
            position: absolute;
            bottom: 35px;
            right: 30px;

            .owl-prev,
            .owl-next {
                border: 3px solid;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                border-color: $color-white;
                background: none;
                font-size: 2em;
                color: $color-white;
                display: block;
                margin: 16px;
            }
        }
    }
    .owl-carousel.owl-drag .owl-item,
        .owl-carousel .owl-stage,
        .owl-carousel .owl-stage-outer,
        .owl-carousel .owl-item {
            height: 100%;
        }
}
/*.arrow-ancla {
    position: absolute;
    z-index: 1;
    bottom: 3%;
    width: 38px;
    margin: auto;
    left: 0;
    right: 0;
}*/
#fp-nav ul li .fp-tooltip.fp-right {font-family: $font-internas;}
.form-and-part {padding-top: 8em;}
.main-home {
    .sct-form {
        padding-right: 3em;
        >.container {width: 91%;}
    }
    .sct-participate {
        >.container {width: 91%;}
    }
}
.sombra{
    background: linear-gradient(to bottom, #0000ff00 70%, #000000e8);
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.sombra2{
    background: linear-gradient(to bottom, #0000ff00 65%, #000000e8);
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.audi-cont{
    width: 4em;
    float: left;
    margin-right: 20px;
    margin-bottom: 1.5em;
}
#fp-nav.fp-right ul li:last-child{
    display: none;
}
.icon-form.icon-sobre{
    font-size: 12px;
}