.card-process-formation{
        margin-top: 2em;
        margin-bottom: 4em;
        //margin-bottom: 5em;

    .wrapper-card-repeat .front, 
    .wrapper-card-repeat .back {
        height: 16em;
    }
}
.sct-hospital-vocation{
    >.container{
        width: 86% !important;
    }
}