@media (max-width:575px) {
    .container {
        width: 100%;
    }
    .wrapper-footer {
        .menuF-list {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin: 0;
        }
    }
}
@media (min-width:320px) and (max-width:767px) {
    /*SCT FILTER / CITAS*/
    .wrapper-filter {
        flex-direction: column;
        padding: 0;

        .dropdown {
            width: 90%;
            line-height: 3;
        }
    }

    /**/
    .wrapper-participate {
        margin-bottom: 3em;
    }

    /*FORM*/
    .form-container {
        padding: 0;
    }

    .form {
        .btn-container {
            text-align: center;
        }
    }
    /*menu*/
    .container-hamb {
        .nav__toggle {
            top: auto;
            right: 4%;
            bottom: 15%;
        }
    }

    .menuicon {
        width: 45px;
        height: 45px;
    }

    .sct-mapForm .wrapperMap .contentMap {
        width: 100%;
    }
    .titles-descrip {
        font-size: 2em;
    }
    .wrapper-form-postul {
        padding: 2.5em 1em;
        margin-top: 3em;
    }
    .sct-banner .content-title-banner .titleBanner {
        font-size: 2.5em;
    }
    .tabs-our-founder{
        padding-right: 1em;
        .nav-tabs {
            display: flex;
            overflow: scroll;
            white-space: nowrap;
            width: 100%;
    
            .item-tab{
                width: auto;
            }
        }
    } 
    .content-synthesis .list-synthesis {
        padding: 1em 0 0 0em;
    }
    .us-oh {
        margin-bottom: 2em;
        height: auto;

        .img-us-oh {
            width: 100%;
            float: inherit !important;
        }
    } 
    .contrb-oh .description-contrb {
        padding: 1em 1em 1em 1em;
        &.--presence {
            padding: 1em 0em 1em 1em;
        }
    }
    .content-mv {
        display: inherit;
    }
    .wrapper-mv {
        padding: 0 0em 0 1em;
        .mission {
            margin-bottom: 1em;
        }
    }
    .wrapper-card-repeat {
        .cols {
            margin-bottom: 5px;
        }
        .inner .title-inner {
            font-size: 1.4em;
        }
    } 
    .director {
        .img-superior {
            margin-top: 2em;
        }
        > .row {
            display: inherit;
        }
        .description-hrnos {
            margin-top: 3em;
        }
    } 
    .consejeros {
        border-top: 1px solid rgba(0,0,0,.1);
        margin-top: 3em;

        .wrapper-consejero {
            margin-top: 3em;
            > .row {
                display: inherit;
            }
        } 
        .img-consejero {
            width: 80%;
            margin: auto;
        }
        .description-hrnos {
            text-align: center;
        }
    }

    .formation{
        .q-es > .row {
            display: inherit;
        }
        .descrip-formation {
            padding-left: 1em;
            &.pr-4 {
                padding-right: 1em;
            }
        }
        .content-img-pstoral {
            width: 100%;
            padding-left: 0;
            margin-top: 1.5em;
        }
        
        .mission-pastoral {
            margin: 2em 0 0;
            > .row {
                flex-direction: column-reverse;
            }
        }
        .vission-pastoral .img-vission-past {
            float: inherit;
            height: auto;
        }
        .content-img-esc-hosp {
            margin-top: 1em;
        }
    } 
    .dscrp-trab-us .text-p2 {
        padding-right: 0em;
    }
    .tabs-our-founder {
        .info-tab {
            height: auto;
            position: relative;
            .content-img-tab {
                height: auto;
                float: inherit;
            }
        }
        .panel-body .tab-content {
            margin-bottom: 0;
        }
    } 
    .description-flotant {
        position: relative;
        width: 100%;
        padding: 2em 0 0;
        &.descp-flot-r {
            padding: 2em 0 0;
            float: inherit;
        }
        &.dscp-2 {
            width: 100%;
            padding: 2em 2em 0;
        }
        .text-border:before {
            width: 20px;
            height: 20px;
            border-right-width: 5px;
            border-top-width: 5px;
        }
        .text-border:after {
            width: 20px;
            height: 20px;
            border-left-width: 5px ;
            border-bottom-width: 5px ;
        }
    }
    .img-two-etaps {
        height: auto;
    }
    .pr-3 {
        padding-right: 0em;
    }
    .slide-lineas-maestras,
    .slide-beginning {
        .owl-nav {
            position: relative;
            left: -48px;
            top: -159px;
            height: 100%;

            .owl-next,
            .owl-prev {
                top: 0;
                left: 0;
            }
        }
        .owl-pages{
            display: none;
        }

        .btn-arrow-right,
        .btn-arrow-left {
            position: relative;
            left: 0;
        }
        .btn-arrow-right {
            top: 0;
        }
        .btn-arrow-left {
            top: 70px;
        }
    } 
    .slide-lineas-maestras{
        .owl-nav{
            position: relative;
            left: 0;
            top: 0;
            
        }  
        .btn-arrow-left {
            top: 0;
        }
    } 
    .wrapper-mv.pl-6 {
        padding: 1em;
    }       
    .obrs-apos {
        margin-top: 1em;
    }
    .img-obras-apost {
        width: 100%;
    }
    .wrapper-slide-lineas-m {
        position: relative;
        padding: 2em 1em 0;
        .text-p2 {
            padding-right: 0em;
        }
    }
    .img-lineas-maestras {
        height: auto;
    }
    .sct-hospital-vocation > .container {
        width: 100% !important;
    }
    .sub-ttl-flotant:before {
        width: 50px;
        height: 4px;
    }
    .img-clinicas {
        width: 90%;
    }
    .title-slider {
        justify-content: flex-end;
        width: 90%;
        padding-bottom: 6em;

        .text-title-slider {
            font-size: 1.7em;
        }
        .isotipo-home {
            width: 8em !important;
        }
    } 
    .sct-centers {
        .wrapper-img-centers {
            width: 100%;
            .grid-centers {
                height: 10em;
                figure {
                    &.effect-julia {
                        background-color: transparent;

                        .list-centers {
                            display: none;
                        }
                        .select-centers {
                            width: 11em;
                            height: 2em;
                            border-radius: 5px;
                            border: none;
                            color: $color-white;
                            background-color: $color-secondary;
                            padding-left: 25%;
                            font-family: $font-semiBold;
                        }

                        &:hover {
                            .imgMap-centers {
                                height: inherit;
                            }
                            .img-bg-centers {
                                opacity: 1;
                            }
                        } 
                    }

                    figcaption {
                        padding: 0;
                    }
                }
            } 
            .imgMap-centers {
                flex-direction: row;

                .img-map {
                    width: 3em;
                    margin-right: 1.5em;
                    margin-bottom: 0;
                }
            }
        }
        
    } 
    .sct-news {
        padding-top: 2em;
    }
    .card-big {
        height: 26em;
    }  
    .form-and-part {
        padding-top: 0;
    }  
    .main-home .sct-form {
        padding-right: 0em;
        padding-top: 2.8em;
        .audi-cont {
            width: 3em;
            margin-right: 3px;
        }
        .titles-big {
            font-size: 2em;
        }
        .contact-flex {
            margin-bottom: 4em;
        }
       
    }
    .div-participate {
        margin-bottom: 3em;
    }
    
}

@media (min-width:768px) and (max-width:992px) {
    .description-flotant.dscp-2 {
        width: 70%;
    }
    .contrb-oh .description-contrb {
        padding: 1em 4em 1em 3em;
    }
    .content-synthesis .list-synthesis .item-synthesis:last-child {
        float: initial;
    }
    .tabs-our-founder .nav-tabs .item-tab {
        width: 5em;
    }
    .contrb-oh .description-contrb.--presence {
        padding: 1em 0em 1em 3em;
    }
    .wrapper-mv {
        padding: 0 2em 0 3em;
    }
    .wrapper-mv .mission {
        margin-bottom: 1em;
    }
    .sct-joins-us .etaps {
        padding-right: 2em;
    }
    .sct-joins-us .etaps.etap-one {
        margin: 4em 0 2.5em;
    }
}
@media (max-width: 922px) {
    .dscrp-trab-us {
        display: inherit;
    }
    .sct-joins-us .etaps {
        padding-right: 0;
    }
    .description-etaps {
        margin-bottom: 1em;
    }
}

@media (min-width:992px) and (max-width:1199px) {

}
@media(max-width:1024px) {
    .wrapper-header {
        header {
            padding-top: 3em;

            &.container {
                width: 100%;
            }
        }

        .content-menuPrincipal {
            .phones-and-socialH {
                position: absolute;
                top: 0;
                right: 0;

                .quotes.phoneInfoForm {
                    font-size: 1em;
                    display: none;

                    &:before {
                        display: none;
                    }
                }
            }

            .navbarList {
                position: absolute;
                top: 0;
                right: -8%;

                .navbarItem.btnCitas {
                    border-radius: 0;
                    padding: 0.6em 1.2em;
                    font-size: 1.15em;
                }
            }
        }

        .contentLogo {
            width: 14em;
        }
    }
    .red-hosp {
        margin-right: 0;
        border-radius: 0;
    }

    .wrapper-nav-big .nav-big {
        padding: 0 1em 0em;

        .item-nav-big {

            &.contc {
                font-size: 1.45em;
                margin-top: 1em;
            }
            .subm-nav-big {
                position: relative;
                left: 0;
                padding-left: 2em;
            }
        }
    }
    .navigation__list {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 4.3em;

        .nav-left {
            padding: 4em 2em 2em 3em;
            height: auto;
        }
    }
    .navigation__nav {
        height: 100vh;
        overflow: auto;
        background-color: $color-white;
    }

    .card-big,
    .card-peqs {
        width: 100%;
    }

    .card-peqs .news-card-peq {
        width: 100%;
        padding: 0;
        margin-bottom: 0 !important;
        margin-top: 2.5em;
    }

    .cardNews {
        display: block;
    }

    .dNone1024 {
        display: none !important;
    }

    .btn-inSesion {
        width: 50%;
        padding: 0.8em 0;
    }
    .accordion-content {
        position: relative;
        width: 90%;
        right: 0;
    }
    .accordion-heading {
        width: 100%;
    }
    .sct-mapForm .wrapperMap .contentMap .embed-responsive-4by3 {
        padding-bottom: 50%;
    }
    .frequent-questions .titleQuestions {
        font-size: 1.8em;
    }
   
}

@media (max-width:1199px) {
    .wrapper-header.fixed {height: 15%;}
}
@media (min-width:1200px) and (max-width:1400px) {
    .wrapper-header .contentLogo {
        width: 13em;
    }
    .pb2 {padding-bottom: 0em;}
    .description-flotant {
        width: 40%;
        &.dscp-2 {
            width: 35%;
        }
    }
    .sct-banner .content-title-banner .titleBanner {
        font-size: 2.8em;
    }
    .tabs-our-founder .panel-body .tab-content {
        margin-bottom: 1.5em;
    }
    .contrb-oh { 
        margin-bottom: 3em;
        .number-presence {
            font-size: 1.6em;
        }
        .ttl-sub-presence {
            font-size: 1.2em;
        }
        .description-contrb{
            &.--presence {
                padding: 1em 0em 1em 4em;
            }
        }
    }
    .wrapper-mv {
        padding: 0 1em 0 3em;
    }
    .description-hrnos{
        .name-hrno {
            font-size: 1.1em;
        }
        .email-hrno {
            font-size: 0.7em;
        }
        .position-hrno {
            font-size: 1em;
        }
    } 
    .director .description-hrnos .name-hrno {
        font-size: 1.4em;
    }
    .img-clinicas {
        width: 90%;
    }
    .title-slider .isotipo-home {
        width: 8em !important;
    }
    .card-big {
        height: 28.3em;
    }
    .sct-news {
        padding-top: 6em;
    }
    .card-peqs .news-card-peq .grid-news {
        height: 13.3em;
    }
    .form-and-part {
        padding-top: 5em;
    }
}

@media (min-width:1401px) and (max-width:1700px) {

}

@media (max-width:1199px) {
    .wrapper-info-theClinic {
        .description-theClinic {
            width: 100%;
            padding: 1em 0em 1em 0em;
        }
    }
    .wrapper-footer {
        padding: 1.5em 0 0;
        .socialNetworksF {
            position: relative;
            padding: 2em 0;
        }
        .content-info-credits {
            flex-direction: column;
            align-items: center;
        }
    }
    .credits {
        background: rgba(255,255,255,.1);
        padding: 10px 0;
    }
}

/* My styles */
@media screen and (min-width: 992px) {
    /* La Clínica */
    .col-5flex {
        float: left;
        width: 20%;
    }
}

@media (min-width: 993px) and (max-width:1299px) {
    /* La Clínica */
    .wrapper-card-repeat .inner .title-inner {font-size: 0.65em;}
    .wrapper-card-repeat .front,
    .wrapper-card-repeat .back {font-size: 1.25rem;}
}

@media screen and (max-width: 1300px) {
    /* Home - Sección 2 */
    .sct-filter-quotes {padding-top: 0;}

    /* La Clínica - Vocaciones Hospitalarias */
    .religioso-sjd .description-flotant.dscp-2 {width: 44%;}
}

@media screen and (max-width: 992px) {
    /* Global */
    .pt4em {padding-top: 1em;}
    .pb5 {padding-bottom: 1em;}

    .w95-movil .container {width: 95%;}

    .nflex992 {display: block;}
    .flex-reverseMovil992 {
        display: flex;
        flex-direction: column-reverse;
    }

    .singleTitle-movil {
        padding-left: 0;
        margin: 0;
    }

    /* Header */
    .tab-content-imgs,
    .logoAqp-hoverMenu {display: none;}

    .wrapper-nav-big .nav-big .item-nav-big,
    .wrapper-nav-big .nav-big .item-nav-big.contc {
        font-size: 1em;
        margin: 0.2em 0;
    }

    .nav-left .hoverMenu-link {margin: .65em 0;}

    .nav-left .ttl-nav-left {font-size: 1.2em;}

    .navigation__list .nav-left {padding: 2em 2em 2em 3em;}
    .navigation__list .nav-left .m-btn {margin: 1.5em 0;}
    .navigation__list .nav-left .m-btn .btn-r-hosp {
        padding: .85em 1em;
        font-size: 1em;
    }

    /* Home - Sección 2 */
    #section1 .sec2 {padding: 2em 0;}

    /* La Clínica */
    .col-5flex {
        width: calc(100%/3);
        float: left;
    }

    /* La Clínica - Vocaciones Hospitalarias */
    .us-oh {
        display: flex;
        height: auto;
    }

    .religioso-sjd .description-flotant.dscp-2 {
        position: relative;
        width: 100%;
        padding: 0 2.5em 2.5em 2.5em;
    }

    /* Unidad de Cuidados Intensivos */
    .citli {margin-top: 2.5em;}

    /* Detallle Médico */
    .detalle-medico .posrel {
        padding-left: 0;
        padding-right: 0;
    }

    #monthAndYear {top: 8px;}

    .detalle-medico_img {margin: 3em 0;}

    /* Home - Sección Servicios */
    .passer {
        position: relative;
        margin-bottom: .5em;
        top: 0!important;
    }
    .tabs {text-align: left;}

    /* Mensajeros de la Salud */
    .mensajeros-salud_img {
        margin: 2em 0;
        padding-left: 0;
    }

    .mensajeros-noche_img {
        margin: 2em 0;
        padding-right: 0;
    }

    .misiones-campanas-mil {margin-bottom: 2.5em;}

    /* Responsabilidad Social */
    .mcm-item {
        flex-basis: 50%;

        &:not(:last-child)::before {display: none;}

        &:first-child::after {
            content: "";
            position: absolute;
            right: 0;
            top: 15%;

            width: 5px;
            height: 80px;

            background-color: rgba(255, 255, 255, 0.5);
        }
    }

    /* Contacto */
    .contacto-into {padding-bottom: 2em;}
    .contacto-into .pb2,
    .contacto-into .pb3 {padding-bottom: 0;}
    .title-contacto {
        font-size: 1.75em;

        &::before {
            left: -20px;
            top: -20px;
            bottom: 0;
            font-size: 1.5em;
        }
    }

    .datos-contacto.pt3 {padding-top: 1.5em;}
    .contacto_imgEdificio {display: none;}

    .contacto_mapa {padding-top: 2.5em;}

    .accordion > li > h4 {font-size: 1.1em;}
    .accordion li h4 .glyph-wrapper {
        width: 15px;
        height: 15px;
    }
}

@media screen and (max-width: 768px) {
    /* Global */
    .text-internas {font-size: 1.1em;}
    .nflex {display: block;}
    .paddCustomMovil .pb7 {padding-bottom: 4em;}
    .paddCustomMovil0 .pb7 {padding-bottom: 0;}

    .noPadImg-sm {padding: 0;}
    .dn-imgMovil {display: none;}
    .flex-reverseMovil {
        display: flex;
        flex-direction: column-reverse;
    }
    .btabr,
    .btab {
        position: relative;
        width: 100%;
        padding: 0;
    }

    .pt4em {padding-top: 1em;}
    .titles-descripCustomMovil {
        margin: 0!important;
        padding-left: 0;
    }

    .wrapper-info-theClinic .description-theClinic {margin-bottom: 0;}

    /* Header */
    .wrapper-header.fixed {height: 12%;}

    .wrapper-header .content-menuPrincipal .phones-and-socialH {
       left: 0;

       & .red-hosp {width: 100%;}
    }
    #menuArea .menuOpen {
        right: 4.25vw;
        top: 45px;
    }

    /* Home - Slider */
    .slider-servicios .owl-nav .owl-pages {
        bottom: 22%;
        left: 0;
    }
    .slider-servicios .btn-arrow-right,
    .slider-servicios .btn-arrow-left {top: 410px;}
    .slider-servicios .btn-arrow-left {right: 40px;}
    .slider-servicios .btn-arrow-right {left: -200px;}

    /* Home - Sección 2 */
    .sct-filter-quotes .wrapper-download-quotes > .row {display: block;}
    .wrapper-filter {padding: 2em 1em;}
    .wrapper-filter .dropdown {
        width: 100%;
        padding-right: 15px;
        margin-bottom: 1em;
    }

    .sct-specialties {padding-top: 0;}

    #section1 .sec2 {background: none;}

    .sct-specialties .tabs {display: none;}

    .sct-specialties .circdiv {display: none;}
    .sct-specialties .dtgt .pl6em {padding-left: 6em;}

    .sct-specialties .dtgt h3 {font-size: 1.1em;}
    .sct-specialties .dtgt .disin {font-size: 1em;}

    /* Home - Sección Participa */
    .main-home .sct-form {
        padding-bottom: 1em;
    }

    /* La Clinica */
    .contrb-oh {margin-bottom: 0;}

    .col-5flex {width: 50%;}

    /* La Clínica - Vocaciones Hospitalarias */
    .us-oh {flex-direction: column;}
    .religioso-sjd .description-flotant.dscp-2 {padding: 2.5em;}

    .programa-av .img-programa-av {width: 100%;}
    .programa-av {
        height: auto;
        margin-bottom: 1.5em;
        margin-top: 0
    }
    .programa-av .description-flotant.descp-flot-r {
        padding: .5em;
        width: 100%;
    }

    .card-process-formation {margin-bottom: 1em;}
    .formacion-permanente {margin-bottom: 2.5em;}

    .us-oh.religioso-sjd {margin-bottom: 0;}

    .vocacion h2 {padding-top: 0;}

    /* Deberes y derechos */
    .deberes-paciente img {margin-bottom: 2em;}

    /* Información del Usuario - Gestión Paus */
    .lineas-maestras {margin-top: 0;}

    /* Información del Usuario - Seguridad al Paciente */
    .informacion-paciente img,
    .identificacion-pacientes img,
    .mejorar-comunicacion img {margin-top: 2em;}

    /* Responsabilidad Social - Donaciones */
    .ctas-deposit.flex {
        flex-direction: column;

        &:first-child {margin-bottom: 2.25em;}

        & .numberCta {
            margin-bottom: .25em;
            margin-right: 0;

            &:before {
                top: -8px;
                left: 50%;
                transform: translate(-50%, -90%);
                width: 100%;
                text-align: center;
            }
        }
    }

    /* Únete a nosotros */
    .wrapper-form-postul {margin-top: 1.5em;}
    .dscrp-trab-us {margin-bottom: 1em;}
    .wrapper-form-postul .btn-send {width: 100%;}

    .sct-joins-us .etaps.etap-one {margin: 3.5em 0 0.5em;}

    .div-participate:not(:last-child) {margin-bottom: 2em;}

    /* Contacto */
    .title-contacto {
        &::before {
            left: -12px;
            top: -10px;
        }
    }
}

@media screen and (max-width: 576px) {
    /* Global */
    .w90-movil .container {width: 90%;}

    /* Header */
    .wrapper-header.fixed {height: 10%;}

    /* Home - Sección Participa */
    .sct-participate .icon-container {width: 20%;}

    .sct-participate .div-participate {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .sct-participate .titles-participate .internas-bold {margin-top: 10px;}
    .sct-participate .content-btn-participate {
        display: flex;
        justify-content: center;
    }

    /* Home - Sección Novedades */
    .sct-news .carrousel-news .owl-nav {
        /*position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;*/
        margin-top: 0;
        top: 0;
        left: 0;
        right: 0;
    }
    .sct-news .carrousel-news .owl-nav button.owl-prev {left: 2.5%;}
    .sct-news .carrousel-news .owl-nav button.owl-next {right: 2.5%;}

    .sct-news .carrousel-news .owl-nav button.owl-prev,
    .sct-news .carrousel-news .owl-nav button.owl-next {
        position: absolute;
        top: 45%;
        margin: 0;
        /*box-shadow: inset 0 0 0 5px transparent;*/
    }

    /* La Clinica */
    .col-5flex {width: 100%;}

    /* Responsabilidad Social */
    .wrap-mcm {
        padding: 1em 0;

        .mcm-item {
            flex-basis: 100%;
            padding: 2.5em 0;
    
            &:not(:last-child)::before {
                bottom: 0;
                left: 50%;
                top: auto;
                
                width: 80px;
                height: 5px;
                
                display: block;
                background-color: rgba(255, 255, 255, 0.5);
                transform: translate(-50%, -50%);
            }
            &:first-child::after {display: none;}
        }
    }
}

@media screen and (max-width: 425px) {
    /* Global */
    h1 {font-size: 1.65em;}
    .text-internas {font-size: .85em;}
    .btn-inSesion {
        padding: .75em;
        font-size: 13px;
    }
    .btn-bus {font-size: 18px;}

    /* Header */
    .wrapper-header.fixed {
        height: 15%;
    }

    /* Home - Sección Contacto */
    .info-form .text-intr-form {margin-bottom: 4em;}
    .info-form .phones-info-form {
        display: flex;
        flex-direction: column;
        padding-top: 0;
    }

    .info-form .phones-info-form .phoneInfoForm.quotesInformes {
        margin-left: 0;
        margin-bottom: 1em;
        margin-top: 2em;
    }

    /* Responsabilidad Social - Donaciones */
    .ctas-deposit.flex {
        & .numberCta {
            font-size: 1.5em;
        }
    }
}

@media screen and (max-width: 360px) {

}