/* Slider servicios */
.slider-servicios {
    .btn-arrow-right,
    .btn-arrow-left {
        position: absolute;
        top: 760px;
        margin: auto;
        bottom: 0;

        width: 32px;
        height: 32px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2em;
        color: $color-primary;
        
        background-color: transparent;
        border: 2.5px solid rgba(0, 57, 137, 0.4);
        border-radius: 50%;
        
    }

    .btn-arrow-left {right: 0px;}
    .btn-arrow-right {left: -190px;}

    .owl-nav {
        position: absolute;
        left: 50px;
        top: 150px;
        height: 100%;

        .owl-pages {
            position: absolute;
            bottom: 16%;
            left: 15px;

            font-family: $font-semiBold;
            color: $color-primary;
            border-bottom: 4px solid rgba(0,57,137,.4);
            padding: 0 .25em;

            &:before {
                content: "";
                width: 50%;
                height: 4px;
                background-color: $color-primary;
                position: absolute;
                bottom: -4px;
                left: 0;
            }

            .owl-pages-current{
                font-size: 2em;
            }

            .owl-pages-count {
                opacity: 0.5;
                font-size: 1.25em;
            }
        }

        .owl-prev,
        .owl-next{
            position: absolute;
            top: 173px;
            left: 154px;
        
        }
    }
}

/* slick carousel */
.slider-servicios {
    .slick-arrow {
        position: absolute;
        top: 50%;
        z-index: 1;
        width: 3rem;
        height: 3rem;
        transform: translateY(-50%);
        padding: 0;
        overflow: hidden;
        font-size: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border: 2px solid #fff;
        border-radius: 50%;
        cursor: pointer;
        outline: none;
        transition: 0.25s;
        
        &:hover,
        &:focus {
        border-color: #F08A5D;
        }
        
        &:active {
        transform: translateY(-50%) scale(0.9);
        }
    }
        
    .slick-prev {
        left: 10vw;
    }

    .slick-next {
        right: 10vw;
    }
}
  
.slider__item {
    position: relative;
    height: 100vh;
        
    img {
        width: 100%;
        height: 100%;
        max-width: 100%;
        object-fit: cover;
    }
}

.slider__counter {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    z-index: 1;
    font-size: 1.5rem;
    font-weight: 600;
    color: red;
    mix-blend-mode: difference;
    pointer-events: none;
}