.sct-staff {
    background-color: $bg-internasGray;

    >.container {
        //width: 83%;
    }
    .contentTitlesLetter {
        padding: 3.5em 0;
    }
    .letters {
        float: right;
        margin: 0;

        .item-letters {
            padding: 8px 10px;
            color: $color-lightBlack;
            font-size: 1.07em;
        }

        .item-letters.active {
            color: $color-primary;
        }
    }

    .titles-descrip {
        font-size: 2.1em;
        margin: 0;
    }

    .btn-regr {
        color: $color-primary;
        font-weight: bold;
    }
}

.card-staff {
    //width: 25%;
    //float: left;
    height: 18em;
    margin-bottom: 3em;

    .grid-news {
        //width: 89%;
        padding: 0 .5em;
        height: 100%;

        figure figcaption {
            position: initial;
        }

        .content-img-staff {
            height: 70%;
        }
    }

    figure.wrapper-news {
        background-color: transparent;

        figcaption {
            padding: 0;
        }

        .vm {
            top: -28%;

            &:before,
            &:after {
                width: 20%;
            }
        }

        .title-news {
            left: 0;
            bottom: 0;
            right: 0;
            padding: 1em .7em;
            position: relative;

            .specialty {
                font-family: $font-semiBold;
                float: left;
            }

            .spanSpecialty,
            .specialty {
                font-size: .66em;
                color: $color-black;
            }

            .spanSpecialty {
                float: left;
                padding-left: 1.5em;
            }

            .nameDoctor {
                margin-bottom: .8em;
            }
        }
    }
}

/*DETALLE MEDICO*/
.icon-doctors {
    width: 3em;
    color: $color-secondary;

    .icon-medico {
        font-size: 3em;
    }
}

.content-nameDoctor {
    color: $color-primary;
    float: left;
    font-family: $titlesBig-internas;
}

.detail-specialty {
    font-family: $font-semiBold;
    color: $color-black;
    font-size: .95em;

    .nameSpecialty {
        font-size: .95em;
    }
}

.schedule {
    color: $color-primary;

    .title-schedule {
        font-family: $font-semiBold;
        font-size: 1.5em;
    }
}

.list-daysSchedule {
    margin-bottom: 0;

    .contentDays {
        width: 9em;
        margin-right: 2.5em;
        position: relative;

        &:after {
            content: ":";
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            font-size: 1.2em;
        }

        .days {
            font-family: $font-semiBold;
            font-size: 0.85em;
        }
    }

    .item-schedule {
        margin-right: 5em;
        margin-bottom: 0px;
    }
}

.btn-inter {
    color: $color-white;
    background-color: $btn-primary;
    border: none;
    font-family: $font-semiBold;
    font-size: .95em;
    padding: .5em 2.5em;
    border-radius: 3px;
    margin: 3em 0;
}

.content-imgMedico {
    .imgMedico {
        width: 100%;
        height: 100%;
    }
}
.tip .card-staff .grid-news{
    padding: 0;
}
figure.wrapper-news .title-news.ttn{
    bottom: 0;
}