
.tabfun{
    font-size: 1.5em;
    color: #000;
    opacity: 0.4;
    transition: 0.2s;
    width: 3em;
    text-align: center;
}
.tabfun:hover{
    transform: scale(1.2);
    color:#003989;
    opacity: 1;
    font-family: "poppinsbold";
}
.tabfun:hover:after{
    border-bottom: 4px solid #003989;
    width: 2em;
    content: "";
    position: absolute;
    left: 15px;
    bottom: 0;
}
li.active .tabfun{
    transform: scale(1.2);
    color:#003989!important;
    opacity: 1;
    font-family: "poppinsbold";
}
li.active .tabfun::after{
    border-bottom: 4px solid #003989;
    width: 2em;
    content: "";
    position: absolute;
    left: 15px;
    bottom: 0;
}
.tabfun2{
    font-size: 2em;
    color:#003989;
    font-family: "poppinsbold";
}
.btab{
    background: #fff;
    position: absolute;
    bottom: 0;
    width: 23em;
    padding: 3em 4em 3em 2em;
}
.btabr{
    background: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 23em;
    padding: 3em 2em 3em 4em;
}
.tet:before{
    content: "\e91f";
    font-family: "icomoon";
    position: absolute;
    right: 1.5em;
    top: 2.5em;
    font-size: 1.5em;
    color: #c60c30;
}
.tet:after{
    content: "\e91e";
    font-family: "icomoon";
    position: absolute;
    left: 0em;
    bottom: 1em;
    font-size: 1.5em;
    color: #c60c30;
}
.tet2::before{
    content: "";
    position: absolute;
    right: 0.5em;
    top: 1em;
    width: 25px;
    height: 25px;
    border-top: 6px solid $color-peru;
    border-right: 6px solid $color-peru;
}
.tet2::after{
    content: "";
    position: absolute;
    left: 1.5em;
    bottom: 1em;
    width: 25px;
    height: 25px;
    border-bottom: 6px solid $color-peru;
    border-left: 6px solid $color-peru;
}
.pl6{padding-left: 6em;}
.pr6{padding-right: 6em;}
.pl3{padding-left: 3em;}
.pr3{padding-right: 3em;}
.pr5{padding-right: 5em;}
.titles-descrip.conr:before{
    content: "";
    position: absolute;
    left: 0px;
    top: 10px;
    bottom: 5px;
    font-size: 1.5em;
    margin: auto;
    color: #003989;
    border-left: 5px solid;
}
.titles-descrip.conr{
    line-height: 25px;
}
.cf{
    color: #27a0de;
    font-size: 2em;
}
.pb5{
    padding-bottom: 5em;
}
.tabfun3 {
    font-size: 1.5em;
    color: #003989;
    font-weight: bold;
    position: relative;
    margin-bottom: 1.2em;
    line-height: 1.3;
}
.tabfun3::after {
    content: "";
    position: absolute;
    border-bottom: 6px solid #c60c30;
    width: 1.7em;
    bottom: -13px;
    left: 0;
}
.posab{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.let{
    color: #fff;
    font-family: "poppinsbold";
    letter-spacing: 1px;
    font-size: 18px;
}
.overs:hover .over{
    opacity: 1;
}
.overs:hover{
    transform: scale(1.2);
    z-index: 1;
}
.overs{
    transition: .5s ease;
}
.over{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 57, 137, 0.8);
}
.pt3-1{
    padding-top: 3.1em;
}
.tabfun4 {
    font-size: 1.5em;
    color: #003989;
    font-weight: bold;
    position: relative;
    margin-bottom: 0.5em;
}
.celdi{
    font-size: 1.1em;
    color: #00a0de;
    font-weight: bold;
    position: relative;
    margin-bottom: 1.2em;
}
.celdi2{
    font-size: 1em;
    color: #00a0de;
    font-weight: bold;
    position: relative;
    margin-bottom: 1.2em;
}
.azlet{
    font-size: 1.1em;
    color: #003989;
    font-weight: bold;
    position: relative;
    margin-bottom: 0.5em;
    line-height: 1.3;
}

.clinicapt7{
    padding-top: 7em;
}
.dinfle{
    display: inline-flex;
}
.fleli::before{
    content: "";
    position: absolute;
    border: solid #00a0de;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    left: 0em;
    top: 0.4em;
}
.fleli{
    position: relative;
    padding-left: 1.1em;
    margin-bottom: .75em;
}
.azul{
    color: #003989;
}
.bold{
    font-weight: bold;
}
.bta{
    padding: 3em 2em 3em 4em;
}
.flt{
    float: left;
}
.flp{    float: left;
    padding-left: 1.5em;}
.wrapper-info-theClinic {

    .description-theClinic {
        //padding: 1em 3em 1em 5em;
        width: 83%;
        float: left;
        margin-bottom: 4em;
    }
}

.pb2{
    padding-bottom: 2em;
}
.pr3{
    padding-right: 3em;
}
img.pt4{
    padding-top: 4em;
}
/****************
NUESTRO FUNDADOR
*****************/
.tabs-our-founder,
.nav-tabs{
    float: right;
}
.tabs-our-founder{
    margin-bottom: 1em;
    padding-right: 4em;
    .nav-tabs{
        border: 0;
        padding-right: 3em;

        .item-tab{
            width: 5.8em;
            text-align: center;

            .link-tab{
                color: $color-int1;
                font-family: $font-internas;
                border: 0;
                font-size: 1.508em;
                &:hover{
                    background-color: none !important;
                }
            }
            &.active{
                transform: scale(1.6);
                transition: .3s;
                .link-tab{
                    font-family: $font-bold-internas;
                    color: $color-primary;
                    
                }
            }
        }
    }
    .info-tab{
        height: 38.6em;
        position: relative;
    
        .content-img-tab{
            //width: 83%;
            height: 100%;
            float: right;
        }
    }
    .panel-body{
        //padding-right: 2em;
        .tab-content{
            margin-bottom: 6.5em;
        }
    }
}

//SINTESIS DE SU OBRA
.work-synthesis{
    padding-right: 0;
}
.content-synthesis{
    .img-synthesis{
        //width: 68%;
        height: 44.3em;
        //float: left;
    }
    .list-synthesis{
        //width: calc(100% - 68%);
        //float: left;
        padding: 3em 0 0 3em;

        .item-synthesis{
            margin-bottom: 1.5em;

            .icons-synthesis{
                color: $color-secondary;
                font-size: 2em;
            }
            .ttl-synthesis{
                color: $color-primary;
                font-family: $font-semiBold;
                text-transform: capitalize;
                font-size: 1.053em;
                padding: 5px 0;
            }
            .text-internas{
                font-size: .8em;
            }
        }
    }
}

/******************
HISTORIA DE LA OH
*******************/
.us-oh{
    position: relative;
    height: 34.8em;
    margin-bottom: 6em;
    margin-top: 1.3em;

    .img-us-oh{
        //width: 86%;
        height: 100%;
    }
}
.contrb-oh{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6em;

    .description-contrb{
       // width: 43%;
        padding: 1em 5.5em 1em 4em;
        text-align: justify;
        float: left;
    
        .sub-ttl-flotant{
            margin-bottom: 2em;
        }
        .text-internas{
            margin-bottom: 3em;
        }
        
        &.--presence{
            padding: 1em 0em 1em 7em;
        }
    }
    .content-img-contrb{
        float: left;
        //width: calc(100% - 43%);
    }
    .number-presence{
        font-size: 2em;
    }
    .ttl-sub-presence{
        font-size: 1.54em;
    }
}
/***************
MISION Y VISION
****************/
.content-mv{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.wrapper-mv{
    padding: 0 4em 0 3em;
    &.pl-6{
        padding-left: 6em;
    }

    .mission{
        margin-bottom: 4em;
    }
}
.img-mv-oh{
    width: 100%;
    float: right;
}

/***************
VOCACIONES HOSPITALARIAS
****************/
.religioso-sjd {
    & .description-flotant.dscp-2 {
        width: 34%;
        padding: 2.5em;
    }
}

.programa-av {
    position: relative;
    height: 38em;
    margin-bottom: 6em;
    margin-top: 7em;

    .img-programa-av {
        width: 96%;
        height: 100%;
    }

    .description-flotant {width: 34em;}
    .description-flotant.descp-flot-r {padding: 2.6em 4em 1em 5em;}
}

/*****************
SLIDER PRINCIPIOS
******************/

.slide-lineas-maestras,
.slide-beginning{

    .btn-arrow-right,
    .btn-arrow-left {
        position: absolute;
        left: -111px;
        font-size: 2em;
        border: 3px solid;
        border-radius: 50%;
        width: 55px;
        height: 55px;
        color: $color-primary;
        border-color: rgba(0,57,137,.4);
        background-color: transparent;
        top: 0;
        margin: auto;
        bottom: 0;
    }
    .owl-nav {
        position: absolute;
        left: -156px;
        top: 0;
        height: 100%;

        .owl-pages {
            position: absolute;
            bottom: 14%;
            font-family: $font-semiBold;
            color: $color-primary;
            border-bottom: 4px solid rgba(0,57,137,.4);
            padding: 0 1.3em;

            &:before {
                content: "";
                width: 50%;
                height: 4px;
                background-color: $color-primary;
                position: absolute;
                bottom: -4px;
                left: 0;
            }

            .owl-pages-current{
                font-size: 3em;
            }

            .owl-pages-count {
                opacity: 0.5;
                font-size: 1.6em;
            }
        }

        .owl-prev,
        .owl-next{
            position: absolute;
            top: 173px;
            left: 154px;
        
        }
    }
}
.slide-beginning{

    .slider-sub-item{
        .img-slider-beginning{
            height: 15em;
        }
        .description-item-beginning{
            height: 7em;
            padding: 1em 1.5em 1em;
            background-color: $color-primary;

            .text-p2{
                color: $color-white;
                text-align: initial;
                padding-bottom: 0;
            }
        }
    }

    .btn-arrow-right {
        top: -50px;
    }
    .btn-arrow-left {
        top: 90px;
    }   
}
.slide-lineas-maestras {
    .owl-nav {
        position: relative;
        left: 0;
        text-align: center;
        margin-top: 3em;

        .owl-prev,
        .owl-next{
            position: relative;
            top: 0;
            left: 0;
        
        }
        .owl-prev{
            float: left;
        }
        
        .owl-next {
            float: right;
        }
        .owl-pages{
            position: relative;
        }
        .owl-next,
        .owl-prev,
        .owl-pages {
            display: inline-block;
        }
    }

    .btn-arrow-right,
    .btn-arrow-left {
        position: relative;
        left: 0;
    }

}
.wrapper-slide-lineas-m{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 2em 3.8em 0;

    .text-p2 {
        padding-right: 2.2em;
    }
}
/******************************
ESTRUCTURA DE LA ORDEN MÉDICA
******************************/
.img-obras-apost{
    width: 91%;
    float: right;
}
.obrs-apos{
    margin-top: 5em;
}
.estructura-organica_svg {
    background-size: cover;
    background-image: url('/assets/images/internas/la-clinica/estructura-organica_mapa.jpg');
}

/******************
NUESTRO DIRECTORIO
*******************/
.director{
    >.row{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .description-hrnos{
        padding-left: 2em;

        .name-hrno{
            font-size: 1.65em;
        }
    }
    .img-superior{
        width: 83%;
        margin: auto;
    }
}
.consejeros{
    .wrapper-consejero{
        margin-top: 5em;
        
        >.row{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .description-hrnos{
        padding: 1em 0;
    }
}
